h1{
	background-color: lavender;
	color: gold;
}

.flex-container{
	background-color: skyblue;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/*flex-wrap: wrap;
	align-content: space-around;*/
/*	justify-content: flex-start;*/
}

.flex-container >div{
	background-color: lightcoral;
	border: 2px solid black;
	height: 15vh;
	width: 300px;
	color: whitesmoke;
/*	margin: 5px;*/
}