body{
	margin-right: 100px;
	margin-left: 200px;
	width: 90%;
	margin-top: 15px;
}

#first-box{
	height: 8vh;
	background-color: lightblue;
	margin-bottom: 30px;
	width: 80%;

}

#second-box{
	height: 30vh;
	background-color: lightblue;
	margin-bottom: 30px;
	width: 80%;
}

.third-box >div{
	background-color: lightblue;
	height: 30vh;
	width: 28%;
}

.third-box{
	display:flex;
	width: 80%;
	height: 35vh;
	justify-content: space-between;
}


#last-box{
	height: 15vh;
	background-color: lightblue;
	margin-bottom: 20px;
	width: 80%;
}


